<div *ngIf="dish !== null; else elseBlock" class="container">

    <div class="field">
        <div class="field-image">
            <img src="{{dish.imageUrl}}" alt="{{dish.name}}">
        </div>
    </div>
    <div class="field">
        <ul>
            <li><span class="left">{{dish.name}}</span><span class="right">{{dish.price}}USD</span></li>
            <li><span class="left">{{dish.category}}</span><span class="right">{{dish.type.toLowerCase()}}</span></li>
        </ul>
    </div>
    <div class="field">
        <p>Ingredients</p>
        <ul>
            <li *ngFor="let ingredient of dish.ingredients">{{ingredient}}</li>
        </ul>
    </div>


</div>
<ng-template #elseBlock>
    <div class="container">
        <p>Sorry! The dish was not found</p>
    </div>
</ng-template>


