# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/restaurant_frontend/dist
/restaurant_frontend/tmp
/restaurant_frontend/out-tsc
/restaurant_frontend/bazel-out

# Node
/restaurant_frontend/node_modules
/restaurant_frontend/npm-debug.log
/restaurant_frontend/yarn-error.log

# IDEs and editors
/restaurant_frontend/.idea/
/restaurant_frontend/.project
/restaurant_frontend/.classpath
/restaurant_frontend/.c9/
/restaurant_frontend/*.launch
/restaurant_frontend/.settings/
/restaurant_frontend/*.sublime-workspace

# Visual Studio Code
/restaurant_frontend/.vscode/*
!/restaurant_frontend/.vscode/settings.json
!/restaurant_frontend/.vscode/tasks.json
!/restaurant_frontend/.vscode/launch.json
!/restaurant_frontend/.vscode/extensions.json
/restaurant_frontend/.history/*

# Miscellaneous
/restaurant_frontend/.angular/cache
/restaurant_frontend/.sass-cache/
/restaurant_frontend/connect.lock
/restaurant_frontend/coverage
/restaurant_frontend/libpeerconnection.log
/restaurant_frontend/testem.log
/restaurant_frontend/typings

# System files
/restaurant_frontend/.DS_Store
/restaurant_frontend/Thumbs.db

/restaurant_backend/target/*
/restaurant_backend/.idea/*

/restaurant_backend/HELP.md
/restaurant_backend/target/
!/restaurant_backend/.mvn/wrapper/maven-wrapper.jar
!/restaurant_backend/**/src/main/**/target/
!/restaurant_backend/**/src/test/**/target/

### STS ###
/restaurant_backend/.apt_generated
/restaurant_backend/.classpath
/restaurant_backend/.factorypath
/restaurant_backend/.project
/restaurant_backend/.settings
/restaurant_backend/.springBeans
/restaurant_backend/.sts4-cache

### IntelliJ IDEA ###
/restaurant_backend/.idea
/restaurant_backend/*.iws
/restaurant_backend/*.iml
/restaurant_backend/*.ipr

### NetBeans ###
/restaurant_backend/nbproject/private/
/restaurant_backend/nbbuild/
/restaurant_backend/dist/
/restaurant_backend/nbdist/
/restaurant_backend/.nb-gradle/
build/
!/restaurant_backend/**/src/main/**/build/
!/restaurant_backend/**/src/test/**/build/

### VS Code ###
/restaurant_backend/.vscode/


