<div class="container">

    <div class="logo">
        <h1><a routerLink="/home">{{title}}</a></h1>
        <p *ngIf="auth.isLoggedIn()">Hi {{auth.userName.charAt(0).toUpperCase() + auth.userName.slice(1).toLowerCase()}}</p>
    </div>
    <div *ngIf="auth.isLoggedIn(); else elseBlock" class="menu">  <!-- logged in user -->
        <a routerLink="/dishes">Dishes</a>
        <a routerLink="/basket">Basket</a>
        <a (click)="auth.logout()">Logout</a>
    </div>
    <ng-template #elseBlock> <!-- guest -->
        <div class="menu">
            <a routerLink="/dishes">Dishes</a>
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
    </ng-template>

</div>
<router-outlet></router-outlet>